<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/feather-icons"></script>

    <title>House Data</title>
</head>

<body>

    <div class="general-wrapper">
        <header class="row pb-3">
            <div class="col-auto">
                <a href="index.html">
                    <img class="logo-image" src="ressources/images/logo.png" alt="TIGF logo">
                </a>

            </div>
            <div class="col-sm d-flex align-items-center">
                <h1 class="h1">Transparent Governement - In Fact</h1>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <span class="pr-2"><a href="mailto:paula.davis@gmail.com"> <i data-feather="mail"></i></a>
                    <a href="mailto:paula.davis@gmail.com">info@tgif.net</a></span>
            </div>
        </header>
        <nav class="navbar navbar-top navbar-expand-md my-8 navbar-dark bg-dark">
            <a class="navbar-brand" href="#">TGIF</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Congress 113</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item " href="senate-data.html">Senate</a>
                            <a class="dropdown-item active" href="house-data.html">House</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attendance</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item " href="senate_attendance_statistics.html">Senate</a>
                            <a class="dropdown-item" href="house_attendance_statistics.html">House</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Loyalty</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item " href="senate_party_loyalty_statistics.html">Senate</a>
                            <a class="dropdown-item" href="house_party_loyalty_statistics.html">House</a>
                        </div>
                    </li>
                </ul>
                <!--
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                -->
            </div>

        </nav>


        <!--Table container-->
        <main class="container-fluid" role="main" id="app">
            <section>
                <div class="row d-flex justify-content-between">
                    <div class="pt-5 col col-lg-7 col-sm-10">


                        <h2>Congressmen</h2>
                        <p>The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
                        <p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative. </p>


                    </div>
                    <div class="pt-5 col-auto col-lg-5 col-sm-2">
                        <div v-if="!loading_finished" id="loader" class="container h-100 align-items-stretch">
                            <div class="h-100 py-2 d-flex align-self-stretch align-items-sm-center loader-bg-color justify-content-center">
                                <!--                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>-->
                                <div class="loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <div class="row pt-3 pb-3 px-2 bg-white stickey-form justify-content-between">
                <div class="form-inline">
                    <div class="col-auto">Filter by Party:</div>
                    <div class="col-auto">
                        <label class="form-check-label" for="republicanCheckBox">
                            <input class="form-check-input" type="checkbox" name="filter_Party" value="R" v-model="party_filters"> Republican</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-check-label" for="democratCheckBox">
                            <input class="form-check-input" type="checkbox" name="filter_Party" value="D" v-model="party_filters"> Democrat</label>
                    </div>
                    <div class="col-auto">
                        <label class="form-check-label" for="independentCheckBox">
                            <input class="form-check-input" type="checkbox" name="filter_Party" value="I" v-model="party_filters"> Independent </label>
                    </div>
                </div>


                <div class="form-inline">
                    <div class="col-auto">Filter by State: </div>
                    <select class="custom-select" v-model="state_filter">
                        <option value="All"> Select All </option>
                        <option v-for="state in sortedStates" v-bind:value="state">{{getStateFullName(state)}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table data-table table-hover">
                        <thead rol="row" class="pt-3 bg-white sticky-head">
                            <th>Congressmen</th>
                            <th>Party</th>
                            <th>State</th>
                            <th>Years in Ofice</th>
                            <th>% Vote w/ Party</th>
                        </thead>
                        <tbody v-if="loading_finished">
                            <tr v-for="value in upToDateTable">
                                <td>
                                    <a v-bind:href="value.url" target="_blank"> {{value.first_name}} {{value.middle_name}} {{value.last_name}}</a>
                                </td>
                                <td>{{value.party}}</td>
                                <td>{{value.state}}</td>
                                <td>{{value.seniority}}</td>
                                <td>{{value.votes_with_party_pct}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="upToDateTable.length <= 0" class="row">
                <div class="col-12 text-center">
                    <div class="alert alert-warning" role="alert">
                        <span class="h5 ">Oh snap! No members found! Please try another combination of filters.</span>
                    </div>
                </div>

            </div>

        </main>
        <!-- Footer -->
        <footer class=" p-3 bg-dark text-white">
            <div class="container">
                <!-- Copyright -->
                <div class="footer-copyright text-center">© 2018 TGIF |
                    <a href=""> All Rights Reserved</a>
                </div>
                <!-- Copyright -->
            </div>

        </footer>
        <!-- Footer -->
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>

    <script>
        feather.replace()
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
